<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.member.mapper.MemberMapper">

    <insert id="create">
        INSERT INTO tbl_member (username, password, email, birth_year)
        VALUES (#{username}, #{password}, #{email}, #{birthYear})
    </insert>

    <select id="read" resultType="org.scoula.member.domain.MemberVO">
        SELECT no, username, password, email, birth_year as birthYear, reg_date as regDate, updated_date as updatedDate
        FROM tbl_member
        WHERE no = #{no}
    </select>

    <select id="getList" resultType="org.scoula.member.domain.MemberVO">
        SELECT no, username, password, email, birth_year as birthYear, reg_date as regDate, updated_date as updatedDate
        FROM tbl_member
        ORDER BY no DESC
    </select>

    <update id="update">
        UPDATE tbl_member
        SET username = #{username},
            password = #{password},
            email = #{email},
            birth_year = #{birthYear},
            updated_date = NOW()
        WHERE no = #{no}
    </update>

    <delete id="delete">
        DELETE FROM tbl_member WHERE no = #{no}
    </delete>

</mapper>